# Ignore Python virtual environments
env/
venv/
.env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore VS Code settings
.vscode/

# Ignore Streamlit logs
.streamlit/
